	<div id="footer">
		<div class="footer">
			<a href="#" class="home">Home</a>
			<a href="#" class="queries">Queries</a>
			<a href="#" class="filter">Filter</a>
			<p>
				Copyright &copy; 2012 Crown - Club. All rights reserved
			</p>
		</div>
	</div>
