	<div class="header">
		<a class="logo" href="#"></a>
		<div class="search">
			<input type="text"   name="search" onblur="if (this.value == '') {this.value = 'Search';}" onfocus="if (this.value == 'Search') {this.value = '';}" value="Search" class="search_txt" />
			<input name="" type="submit" class="search_btn" value="" />
		</div>
	</div>
