body
{
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background:url(/assets/tp_bg.jpg) repeat-x #fafafa;

}
html, div, p, h1, h2, h3, ul, li, a, span, input, select
{
	margin:0px;
	padding:0px;
	outline:none;
	apperance:normal;
}
#main_div
{
	width:100%;
	float:left;
	height:100%;
}
#inner_div
{
	width:980px;
	margin-left:auto;
	margin-right:auto;
	height:auto;
}
.level_2
{
	width:100%;
	float:left;
	height:70px;
} 
.level_2 a:hover
{
	color:#37be7b;
}
.login
{
	width:540px;
	float:right;
	height:40px;
	margin-top:15px;
}
.input_txt
{
	background:url(/assets/txt_bg.png) no-repeat center center;
	padding:5px;
	float:left;
	height:22px;
	border:none;
	margin-right:10px;
	width:190px;
	color:#666666;
}
.input_btn
{
	 width:92px;
	 float:left;
	 background:url(/assets/btn.png) center center no-repeat;
	 height:32px;
	 border:none;
	 cursor:pointer;
	 color:#FFFFFF;
	 text-transform:uppercase;
	 font-weight:bold;
	}
.header
{
	width:100%;
	float:left;
	height:62px;
}
#footer
{
	width:100%;
	float:left;
	height:110px;
	background:url(/assets/footer.png) repeat-x ;
}
.footer
{
	width:920px;
	padding-left:30px;
	padding-right:30px;
	margin-right:auto;
	margin-left:auto;
}
.footer p
{
	width:100%;
	float:left;
	font-size:12px;
	color:#999999;
	margin-top:30px;
}
.mennu_me
{
	width:130px;
	float:left;
	height:50px;
	background:url(/assets/me.png) left center no-repeat;
	padding-left:55px;
	font-size:36px;
	color:#CCCCCC;
	text-decoration:none;
	margin-top:10px;
	line-height:50px;
	font-family:"Trebuchet MS";
	border-right:1px solid #CCC;
	margin-right:25px;
	margin-left:30px;
}
.menu_explore
{
	width:190px;
	float:left;
	height:50px;
	background:url(/assets/explore.png) left center no-repeat;
	padding-left:55px;
	font-size:36px;
	color:#CCCCCC;
	text-decoration:none;
	margin-top:10px;
	line-height:50px;
	font-family:"Trebuchet MS";
	border-right:1px solid #CCC;
	margin-right:25px;
}
.menu_buddies
{
	width:180px;
	float:left;
	height:50px;
	background:url(/assets/buddies.png) left center no-repeat;
	padding-left:55px;
	font-size:36px;
	color:#CCCCCC;
	text-decoration:none;
	margin-top:10px;
	line-height:50px;
	font-family:"Trebuchet MS";
	border-right:1px solid #CCC;
	margin-right:25px;
}
.menu_feeds
{
	width:150px;
	float:left;
	height:50px;
	background:url(/assets/feeds.png) left center no-repeat;
	padding-left:55px;
	font-size:36px;
	color:#CCCCCC;
	text-decoration:none;
	margin-top:10px;
	line-height:50px;
	font-family:"Trebuchet MS";
}
.home
{
	background:url(/assets/home.jpg) left center no-repeat;
	padding-left:30px;
	float:left;
	height:20px;
	width:auto;
	font-size:15px;
	color:#666666;
	text-transform:uppercase;
	text-decoration:none;
	line-height:20px;
	margin-top:15px;
	margin-right:30px;
}
.queries
{
	background:url(/assets/quereis.jpg) left center no-repeat;
	padding-left:30px;
	float:left;
	height:20px;
	width:auto;
	font-size:15px;
	color:#666666;
	text-transform:uppercase;
	text-decoration:none;
	line-height:20px;
	margin-top:15px;
	margin-right:30px;
}
.filter
{
	background:url(/assets/filter.jpg) left center no-repeat;
	padding-left:30px;
	float:left;
	height:22px;
	width:auto;
	font-size:15px;
	color:#666666;
	text-transform:uppercase;
	text-decoration:none;
	line-height:20px;
	margin-top:15px;
}
	
.logo
{
	width:233px;
	float:left;
	height:62px;
	margin-left:30px;
	background:url(/assets/logo.png) center center no-repeat;
}
.search
{
	width:300px;
	float:right;
	height:32px;
	margin-right:30px;
	margin-top:15px;
	background:url(/assets/search_bg.png) no-repeat center center;
}
.search_txt
{
	background-color:#e0f5ea;
	border:none;
	padding:5px;
	margin-left:15px;
	float:left;
	margin-top:3px;
	width:238px;
	color:#999999;
}
.cat_txt
{
	border:none;
	padding:5px;
	margin-left:15px;
	float:left;
	margin-top:3px;
	width:245px;
	color:#999999;
	margin-bottom:3px;
}
.search_btn
{
	width:30px;
	float:left;
	height:20px;
	border:none;
	margin-top:7px;
	cursor:pointer;
	border-left:1px solid #ccc;
	background:url(/assets/search_btn.png) no-repeat center center;
}
.list
{
	width:920px;
	float:left;
	height:53px;
	background:url(/assets/list.png) left center no-repeat;
	margin-top:30px;
	margin-bottom:15px;
}
.list label
{
	border:none;
	padding-bottom:10px;
	padding-top:10px;
	margin-left:15px;
	margin-top:5px;
	color:#999999;
	font-size:17px;
	font-weight:bold;
	float:left;
	width:480px;
}
.list img
{
	float:left;
	margin-top:10px;
	margin-left:20px;
}
.feed_search
{
}
.feeds
{
	width:100%;
	float:left;
	border:1px solid #CCC;
	height:165px;
	margin-bottom:10px;
}
.build
{
	margin-top:30px;
}
.build1
{
	margin-top:15px !important;
}
.feeds h1
{
	float:left;
	width:auto;
	margin-right:15px;
	font-size:17px;
	font-weight:normal;
	color:#37be7b;
	margin-top:20px;
	font-family:"Trebuchet MS";
	margin-left:15px;
}
.feed_comment
{
	margin-top:20px !important;
}
.feeds .user
{
	float:left;
	margin-left:20px;
	margin-top:20px;
}
.star
{
	float:left;
	margin-top:20px;
	width:auto;
}
.container
{
	width:920px;
	float:left;
	margin-left:30px;
	margin-right:30px;
	height:auto;
}
.signup
{
	width:390px;
	float:right;
	height:auto;
	margin-top:50px;
}
.signup_form
{
	-moz-border-radius:5px;
	 -webkit-border-radius:5px;
	 border-radius:5px;
	 -webkit-border-radius:5px;
	 border:15px solid #37be7b;
	 padding:35px;
	 float:left;
}
.signup_form h1
{
	font-size:20px;
	font-weight:bold;
	color:#37be7b;
	margin-bottom:10px;
}
	
.slide
{
	width:388px;
	float:left;
	height:580px;
	margin-right:50px;
	background:url(/assets/separate.png) right center no-repeat;
}
.signup_form form
{
	width:100%;
	float:right;
	height:auto;
	margin:0px;
	padding:0px;
}
.sign_txt
{
	background:url(/assets/sign_txt.png) no-repeat center center;
	padding:5px;
	float:left;
	height:22px;
	border:none;
	margin-right:10px;
	width:270px;
	color:#666666;
	margin-bottom:10px;
}
.map
{
	width:600px;
	float:left;
	height:500px;
	background:url(/assets/map.jpg) center center no-repeat;
	margin-top:30px;
	margin-bottom:30px;
	border:1px solid #ccc;
}
.cat
{
	width:300px;
	float:left;
	height:auto;
	margin-top:30px;
	margin-left:15px;

}
.cat ul
{
	width:100%;
	float:left;
	height:500px;
	margin:0px;
	padding:0px;
		background-color:#FFFFFF;
	border:1px solid #CCC;
}
.cat ul li
{
	width:100%;
	float:left;
	height:auto;
	display:block;
	padding-top:5px;
	padding-bottom:5px;
	color:#666666;
	line-height:20px;
	font-weight:bold;
	cursor:pointer;
}
.cat ul li:hover
{
	width:100%;
	float:left;
	height:auto;
	display:block;
	padding-top:5px;
	padding-bottom:5px;
	color:#666666;
	line-height:20px;
	background-color:#eee;
	font-weight:bold;
	cursor:pointer;
}
.cat ul li img
{
	float:left;
	margin-left:5px;
	margin-right:10px;
}
.cat_search
{
	width:300px;
	float:left;
	height:auto;
	background-color:#FFFFFF;
	border:1px solid #ccc;
	margin-bottom:5px;
}
.comments
{
	width:710px;
	height:70px;
	background:#f1f1f1;
	color:#999999;
	float:left;
	-moz-border-radius:5px;
	 -webkit-border-radius:5px;
	 border-radius:5px;
	 -webkit-border-radius:5px;
	 border:1px solid #999999;
	 margin-top:5px;
	 margin-left:15px;
	 padding:10px;
}
.feed_comment
{
	width:650px !important;
}
.cmnts
{
	width:95% !important;
}
.icons
{
	width:32px;
	height:90px;
	float:left;
	margin-left:5px;
}
.icons a
{
	 float:left;
	 width:32px;
	 height:32px;
}
.chat
{
	background-image:url(/assets/chat.png);
	background-repeat:no-repeat;
	float:left;
	width:32px;
	height:32px;
}
.heart
{
	background-image:url(/assets/heart.png);
	background-repeat:no-repeat;
	float:left;
	width:32px;
	height:32px;
}
.like
{
	background-image:url(/assets/like.png);
	background-repeat:no-repeat;
	float:left;
	width:32px;
	height:32px;
}
.icons3
{
	width:32px;
	height:90px;
	float:left;
	margin-left:5px;
	margin-top:5px;
}
.icons3 a
{
	 float:left;
	 width:42px;
	 height:42px;
	 margin-bottom:19px;
}
.icons_2
{
	width:32px;
	height:90px;
	float:left;
	margin-left:5px;
}
.icons_2 a
{
	background-image:url(/assets/edit.png);
	background-repeat:no-repeat;
	 float:left;
	 width:32px;
	 height:32px;
}
.post
{
	width:600px;
	float:left;
	height:auto;
	padding-left:15px;
	margin-top:10px;
}
.post input
{
	float:left;
	margin-right:5px;
}
.post label
{
	float:left;
	color:#666666;
	margin-right:15px;

}
.friends
{
	width:280px;
	height:auto;
	float:left;
	background-color:#FFFFFF;
	padding:10px;
	border:1px solid #CCC;
}
.frnds
{
	width:100%;
	float:left;
	height:auto;
	margin-bottom:15px;
	border-bottom:1px solid #ccc;
	padding-bottom:10px;
}
.frnds img
{
	float:left;
	margin-top:5px;
	margin-right:5px;
}
.frnds h1
{
	font-size:17px;
	color:#37be7b;
	font-weight:bold;
	font-family:"Trebuchet MS";
	width:100%;
	
}
.feed_icons
{
	float:left;
	width:auto;
	margin-left:10px;
}
.feed_icons img
{
	float:left;
	cursor:pointer;
}
.import
{
	width:100%;
	float:left;
	height:auto;
}
.import div
{
	width:100%;
	float:left;
	margin-bottom:5px;
}	
.import input
{
	float:left;
	margin-bottom:5px;
	margin-right:8px;
	margin-left:5px;
	margin-top:2px;
}	
.import label
{
	float:left;
	margin-bottom:5px;
	color:#666666;
	margin-right:5px;
	font-family:"Trebuchet MS";
}	
.import img
{
	float:left;
	margin-bottom:5px;
	margin-right:3px;
} 
#gamesHolder { padding: 5px; margin-top: 30px; width: 380px; }
.cs-buttons a {
    border-radius: 50%;
    background: #CCC;
    background: -webkit-linear-gradient(top,  #CCCCCC, #F3F3F3); /* webkit browsers */
    background:    -moz-linear-gradient(top,  #CCCCCC, #F3F3F3); /* firefox 3.6+ */
    background:      -o-linear-gradient(top,  #CCCCCC, #F3F3F3); /* opera */
    background:     -ms-linear-gradient(top,  #CCCCCC, #F3F3F3); /* IE10 */
    background:         linear-gradient(top,  #CCCCCC, #F3F3F3); /* css3 */      
}
a.cs-active {
    background: #599BDC;
    background: -webkit-linear-gradient(top,  #599BDC, #3072B3); /* webkit browsers */
    background:    -moz-linear-gradient(top,  #599BDC, #3072B3); /* firefox 3.6+ */
    background:      -o-linear-gradient(top,  #599BDC, #3072B3); /* opera */
    background:     -ms-linear-gradient(top,  #599BDC, #3072B3); /* IE10 */
    background:         linear-gradient(top,  #599BDC, #3072B3); /* css3 */  
    border-radius: 50%;    
    box-shadow: 0 0 3px #518CC6;   
    border: 1px solid #3072B3 !important;     
}

* {
margin: 0;
}
html, body {
height: 100%;
}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}
.stickyfooter, .push {
width:920px;
padding-left:30px;
padding-right:30px;
margin-right:auto;
margin-left:auto;	
}
